@model LLVG20240907.DTOs.ProductsDTOs.EditProductLLVGDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>EditProductLLVGDTO</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreLLVG" class="control-label"></label>
                <input asp-for="NombreLLVG" class="form-control" />
                <span asp-validation-for="NombreLLVG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionLLVG" class="control-label"></label>
                <input asp-for="DescripcionLLVG" class="form-control" />
                <span asp-validation-for="DescripcionLLVG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioLLVG" class="control-label"></label>
                <input asp-for="PrecioLLVG" class="form-control" />
                <span asp-validation-for="PrecioLLVG" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
