@page "/product-details/{Id:int}"

@using LLVG20240907.DTOs.ProductsDTOs
@using Microsoft.AspNetCore.Components
@using LLVG20240907.API.Services

<section class="product-details-section p-4 bg-light rounded shadow-lg">
    <h3 class="text-center mb-4">Detalles del Producto</h3>

    @if (isError)
    {
        <div class="alert alert-danger text-center" role="alert">
            <h4 class="alert-heading">Error</h4>
            <p>Ocurrió un error al intentar obtener los detalles del producto.</p>
            <hr />
            <NavLink href="/product-list" class="btn btn-primary">Ir a buscar productos</NavLink>
        </div>
    }
    else if (product == null)
    {
        <div class="alert alert-warning text-center" role="alert">
            <h4 class="alert-heading">Advertencia</h4>
            <p>Producto no encontrado.</p>
            <hr />
            <NavLink href="/product-list" class="btn btn-primary">Ir a buscar productos</NavLink>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="NombreLLVG" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="NombreLLVG" disabled value="@product.NombreLLVG" />
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="DescripcionLLVG" class="form-label">Descripción:</label>
                        <textarea id="DescripcionLLVG" class="form-control" disabled>@product.DescripcionLLVG</textarea>
                    </div>
                </div>
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label for="PrecioLLVG" class="form-label">Precio:</label>
                        <input type="text" class="form-control" id="PrecioLLVG" disabled value="@product.PrecioLLVG.ToString("C")" />
                    </div>
                </div>
            </div>

            <div class="text-center mt-4">
                <NavLink href="/product-list" class="btn btn-primary">Ir a buscar productos</NavLink>
            </div>
        </div>
    }
</section>

@code {
    [Parameter]
    public int Id { get; set; }

    [Inject]
    private ProductLLVGService productService { get; set; }

    private GetIdResultProductLLVGDTO product;
    private bool isError;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            product = await productService.GetById(Id);
            if (product == null)
            {
                isError = true; // Product not found
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
            isError = true;
        }
    }
}
